$color_white: #fff;
$color_pink: #f15b4f;
$color_blue: #0054a4;
$color_green: #6fbd2a;
$color_grey: #010101;
$color_black: #000;

$font_lobster: LobsterRegular, sans-serif;
$font_open_sans: OpenSansRegular, sans-serif;
$font_galano_grotesque: GalanoGrotesqueRegular, sans-serif;
$font_galano_grotesque_md: GalanoGrotesqueMedium, sans-serif;
$font_galano_grotesque_sb: GalanoGrotesqueSemiBold, sans-serif;
$font_galano_grotesque_eb: GalanoGrotesqueExtraBold, sans-serif;

* {
  padding: 0;
  margin: 0;
}

div, p, input, button {
  box-sizing: border-box;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

.pink-bg {
  background-color: #f15b4f;
}

.pink-color {
  color: #f15b4f;
}

.blue-bg {
  background-color: #0054a4;
}

.blue-color {
  color: #0054a4;
}

.green-bg {
  background-color: #6fbd2a;
}

.green-color {
  color: #6fbd2a;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.social-section {
  background: $color_blue;
}

.social-block ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-block li {
  list-style: none;
  display: inline-block;
  margin: 3px 12px;
}

.social-block a {
  color: white;
  font-size: 20px;
}

.social-block img {
  float: left;
}

.navigation-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
}

.mobile-menu {
  display: none;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.48);
  padding: 0 10px;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation > li a {
  color: rgba(0, 0, 0, 0.48);
  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.navigation > li a:hover {
  color: #0054a4;
  border: 1px solid #0054a4;
  background-color: #eeeeee;
}

.navigation-block .donate {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 16px 24px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 14px;
  cursor: pointer;
}

.main-picture {
  background: url("./../img/main-img.jpg") top center / cover;
  height: 45vw;
}

.main-picture-content {
  max-width: 418px;
  padding: 8vw 0;
}

.main-picture-content h1 {
  font-size: 60px;
  font-family: $font_lobster;
  color: #0054a4;
  font-weight: normal;
}

.main-picture-content p {
  padding: 20px 0;
  font-size: 18px;
  font-family: $font_open_sans;
}

.buttons {
  padding: 12px 0;
}

.button {
  display: inline-block;
  padding: 14px 34px;
  border-radius: 30px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.cards-section {
  margin-top: -85px;
}

.actionCards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.actionCard {
  width: 31%;
  display: flex;
  justify-content: center;
  padding: 26px 30px 26px 26px;
  border-radius: 30px;
  cursor: pointer;

  &-pink {
    background-color: $color_pink
  }
  // -pink

  &-blue {
    background-color: $color_blue;
  }
  // -blue

  &-green {
    background-color: $color_green;
  }
  // -green

  &__icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    flex-shrink: 0;
    align-self: center;

    &-blue {
      color: $color_blue;
    }
    // -blue

    &-green {
      color: $color_green;
    }
    // -green

    &-pink {
      color: $color_pink;
    }
    // -pink
  }
  // __icon

  &__text {
    margin-left: 20px;
    color: white;

  }
  // __text

  &__title {
    display: flex;
    justify-content: space-between;
    font-family: $font_lobster;
    font-size: 26px;
  }
  // __title

  &__border {
    height: 2px;
    width: 94px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;
  }
  // __border

  &__description {
    font-family: $font_open_sans;
    font-size: 14px;
  }
  // __description

}

// actionCard

.about-foundation-section,
.upcoming-events-section,
.videos-section,
.recent-news-section {
  padding: 65px 0 20px;
}

.about-foundation-top,
.upcoming-events-top,
.videos-top,
.recent-news-top {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.about-foundation-top h2,
.upcoming-events-top h2,
.videos-top h2,
.recent-news-top h2 {
  font-family: $font_lobster;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
}

.about-foundation-top p,
.upcoming-events-top p,
.videos-top p,
.recent-news-top p {
  max-width: 560px;
  text-align: center;
  font-family: $font_open_sans;
  font-size: 16px;
  color: gray;
}

.about-foundation,
.upcoming-events,
.videos,
.recent-news {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.aboutFoundationItem {
  width: 25%;
  display: flex;
  flex-flow: column;
  align-items: center;

  &__image {
    max-height: 165px;
  }
  // __image

  &__text {
    font-family: $font_lobster;
    font-size: 22px;
    text-align: center;
    padding-top: 40px;
    color: #a8a8a8;

    span {
      font-family: $font_lobster;
      font-size: 38px;
      color: #0054a4;
    }
    // __text span
  }
  // __text
}

// aboutFoundationItem

.upcoming-events-section,
.recent-news-section {
  background-color: #f1f1f1;
}

.upcoming-events-all,
.videos-all,
.recent-news-all {
  border-bottom: $color_blue 3px solid;
  padding-bottom: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.upcoming-events-all a,
.videos-all a,
.recent-news-all a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: $font_galano_grotesque;
}

.upcomingEventItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  background-color: $color_white;
  border: 0.5px solid rgba(0, 0, 0, 0.2);

  &__image {
    width: 100%;
  }
  // __image

  &__miniLogo {
    position: relative;
    align-self: center;
    margin-bottom: -30px;
    top: -50px;
  }
  // __miniLogo

  &__textBlock {
    padding: 0 40px;
    display: flex;
    flex-direction: column;

    &__header {
      max-width: 250px;
      text-align: center;
      font-family: $font_lobster;
      font-size: 24px;
      color: $color_grey;
    }
    // __header

    &__text {
      text-align: justify;
      font-family: $font_open_sans;
      font-size: 16px;
      line-height: 22px;
      padding: 15px 0;
    }
    // __text

    &__date {
      padding: 15px 0 30px;
      text-align: center;
    }
    // __date
  }
  // __textBlock

  &__buttons {
    display: flex;
    font-size: 16px;
    width: 100%;
    font-family: $font_galano_grotesque_sb;
    text-transform: uppercase;
    height: 60px;
    cursor: pointer;

    &__register {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color_white;
      background-color: $color_pink;
    }
    // __register

    &__learnMore {
      width: 50%;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color_black
    }
    // __learnMore
  }
  // __buttons
}

// upcomingEventItem

.videoItem {
  display: flex;
  flex-direction: column;
  width: 48%;

  &__embedVideo {

  }
  // __embedVideo

  &__text {
    font-family: $font_open_sans;
    font-size: 20px;
    color: $color_grey;
    padding: 25px 0;
  }
  // __videoText

}

// videoItem

.recentNewsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  background-color: $color_white;
  border: 0.5px solid rgba(0, 0, 0, 0.2);

  &__image {
    width: 100%;
  }
  // __image

  &__textBlock {
    display: flex;
    flex-direction: column;
    padding: 40px 50px 10px;

    &__tagPlate {
      justify-self: baseline;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 120px;
      cursor: pointer;
      color: $color_white;
      border-radius: 5px;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font_galano_grotesque_sb;

      &-green {
        background-color: $color_green;
      }
      // -green

      &-pink {
        background-color: $color_pink;
      }
      // -pink

      &-blue {
        background-color: $color_blue;
      }
      // -blue
    }
    // __tagPlate

    &__header {
      align-self: center;
      max-width: 250px;
      font-family: $font_lobster;
      font-size: 28px;
      color: $color_grey;
      padding: 15px 0 5px;
    }
    // __header

    &__text {
      color: #232323;
      text-align: justify;
      font-family: $font_open_sans;
      font-size: 16px;
      line-height: 22px;
      padding: 15px 0;
    }
    // __text
  }
  // __textBlock

  &__stats {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    font-family: $font_galano_grotesque;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    color: #a7a7a7;

    &__comments {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &:before {
        content: '\f0e5';
        font-family: FontAwesome;
        margin-right: 10px;
      }
      // :before
    }
    // __comments

    &__likes {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '\f08a';
        font-family: FontAwesome;
        margin-right: 10px;
      }
      // :before
    }
    // __likes

    &__update {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '\f01e';
        font-family: FontAwesome;
      }
      // :before
    }
    // __update
  }
  // __stats
}

// recentNewsItem

.invite-section {
  background: url("./../img/volunteer.png") top center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invite-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $color_white;
  border-radius: 5px;
  width: 420px;
  padding: 50px;
  margin: 10vw 0;
}

.invite-header {
  text-align: center;
  font-family: $font_lobster;
  font-size: 32px;
}

.invite-header span {
  font-size: 60px;
}

.invite-text {
  font-family: $font_galano_grotesque;
  font-size: 18px;
  color: #232323;
  text-align: center;
}

.invite-button {
  width: 200px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: $font_galano_grotesque_sb;
  font-size: 18px;
  font-weight: bold;
  color: $color_blue;
  border-radius: 30px;
  border: 2px solid $color_blue;
}

.partners-section .wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 75vw;
}

.partners-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0 50px;
  overflow: hidden;
}

.move-block {
  transition: all 3s;
  margin-left: -300px;
}

.partnerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 280px;
  height: 140px;
  background-color: #efefef;
  padding: 40px;
  margin: 0 10px;
}

.partner-logo {
  width: 100%;
  height: auto;
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: 1px solid;
  font-size: 35px;
  cursor: pointer;
  margin: 15px 0 0;
}

.left-arrow {
  left: -80px;
}

.right-arrow {
  right: -80px;
}

.footer-information {
  background: url("./../img/footer-bg.png") top center / cover;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  color: $color_white;
}

.footer-content > div {
  padding: 90px 0;
}

.footer-title {
  display: flex;
  flex-direction: column;
}

.footer-title-text {
  font-family: $font_lobster;
  font-size: 24px;
}

.footer-title-lines {
  display: flex;
  align-items: center;
  padding: 30px 0 40px;
}

.footer-title-line-green {
  width: 55px;
  height: 5px;
  background-color: $color_green;
}

.footer-title-line-white {
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer-logo {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  align-self: center;
  margin-bottom: 50px;
}

.footer-icons ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.footer-icons a {
  font-size: 26px;
  color: $color_white;
}

.footer-links ul {
  list-style: none;
  opacity: 0.5;
}

.footer-links li {
  margin-top: 10px;
}

.footer-links a {
  text-decoration: none;
  color: $color_white;
  font-family: $font_open_sans;
  font-size: 14px;
}

.footer-contact {
  display: flex;
  font-family: $font_open_sans;
  font-size: 16px;
  opacity: 0.5;
}

.footer-contact:last-child {
  padding-top: 20px;
}

.footer-signup-button {
  text-transform: uppercase;
  width: 220px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font_galano_grotesque_sb;
  font-size: 16px;
  background-color: $color_pink;
}

.footer-contact i {
  padding-right: 20px;
}

.footer-copyright {
  background-color: $color_blue;
}

.copyright-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font_open_sans;
  font-size: 14px;
  color: $color_white;
  padding: 14px 0;
}

//responsive rules
@import 'responsive';